doctype html
html(lang="es" ng-app="listaChequeoApp")
	head
		title Revisión de cuentas - Aplicativo
		link(rel='stylesheet', href='/stylesheets/style.css')
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		link(rel="shortcut icon" href="images/favicon.png")
		link(rel="stylesheet" href="stylesheets/style.css")
		link(rel="stylesheet" href="plugins/nprogress/nprogress.css")
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
		script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js")
		script(src="//code.angularjs.org/1.3.14/angular-route.min.js")
		script(src="javascripts/app.js")
		script(src="javascripts/controller.js")
		<base href="/" />
		<script src="plugins/nprogress/nprogress.js"></script>
		<script src="plugins/sweetalert-master/lib/sweet-alert.min.js"></script>
		<link rel="stylesheet" type="text/css" href="plugins/sweetalert-master/lib/sweet-alert.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	body
		.navbar.navbar-inverse.navbar-fixed-top
			.container-fluid
				.navbar-header
					button(type="button", class="navbar-toggle collapsed", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1")
						span.sr-only Toggle navigation
						span.icon-bar 
						span.icon-bar 
						span.icon-bar 					
					a.navbar-brand(style="padding:5px 15px;",ng-click="link('/')")
						img(alt="Brand", src="images/favicon.png", width="40")				  

				<!-- Collect the nav links, forms, and other content for toggling -->
				.collapse.navbar-collapse(id="bs-example-navbar-collapse-1")
					ul.nav.navbar-nav
						li.active
							a Principal
						li
							a(href="#") <i class="fa fa-bar-chart"></i> Estadísticas
						li
							a(href="#") <i class="fa fa-list-alt"></i> Reportes <span class="sr-only">(current)</span>
						li.dropdown
							a.dropdown-toggle(data-toggle="dropdown", role="button", aria-expanded="false") Formatos <span class="caret"></span>
							ul.dropdown-menu(role="menu")
								li
									a Action
								li
									a Another action
								li
									a Something else here
								li.divider
								li
									a Separated link
								li.divider
								li
									a One more separated link					
					ul.nav.navbar-nav.navbar-right
						li.dropdown
							a.dropdown-toggle(data-toggle="dropdown",role="button",aria-expanded="false") Bienvenido, #{user.username} <span class="caret"></span>
							ul.dropdown-menu(role="menu")
								li
									a Perfil
								li
									a Another action
								li
									a Something else here
								li.divider
								li
									a Separated link
								li.divider
								li
									a(href="/logout") Cerra sesión
					form.navbar-form.navbar-left.navbar-center(role="Buscar")
						.form-group
							<input type="text" class="form-control" placeholder="Resultados de rendición" />						
							<button type="submit" class="btn btn-default">Buscar</button>
		block content
