<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<h2>Crear entidad</h2>
		<form id="createEntidad">
			<div class="form-group">
				<label for="name">Nombre</label>
				<input type="text" name="name" id="name" class="form-control" />
			</div>
			<div class="form-group">
				<label for="type">Tipo</label>
				<select name="type" id="type" class="form-control">			
					<option value="et">Entidades Territoriles</option>
					<option value="esp">Empresas de Servicios Publicos</option>
					<option value="esestado">Empresas Sociales del Estado</option>
					<option value="ed">Entidades Descentralizadas</option>
					<option value="cp">Centros Provinciales</option>
					<option value="otras">Otras</option>
					<option value="esespeciales">Entidades de Servicios Especiales</option>
					<option value="pc">Puntos de Control</option>
				</select>
			</div>
			<div>
				<input type="submit" value="Guardar" class="btn btn-default">
			</div>

		</form>
	</div>
</div>


