<h2 class="page-header">FORMATOS QUE APLICAN A EMPRESAS DE SOCIALES DEL ESTADO</h2>


	<div role="tabpanel">
	
		<ul class="nav nav-tabs" role="tablist" id="mytabs">
			<li role="presentation" class="active"><a href="#formulario" aria-controls="formulario" role="tab" data-toggle="tab">Formulario</a></li>
			<li role="presentation"><a href="#anexo1" aria-controls="anexo1" role="tab" data-toggle="tab">Anexo-1</a></li>
			<li role="presentation"><a href="#anexo2" aria-controls="anexo2" role="tab" data-toggle="tab">Anexo-2</a></li>
		</ul>
	
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane active" id="formulario">
				<form id="esp">

					<div class="form-group">
						<div class="input-group">
							<span class="input-group-btn">
								<button class="btn btn-default" type="button"><strong>Entidad:</strong></button>
							</span>
							<select name="entidad" id="entidad" class="form-control">
								<option ng-repeat="e in entidades" value="{{e._id}}">{{e.name}}</option>
							</select>
						</div>	
					</div>
					
					<p>¿La ESE llenó los fomatos que aplican a estas entidades?</p>
					<ul class="questions">
						<li ng-repeat="question in questions" class="todos">
							<span class="number">{{$index + 1}}</span>
							<div class="text_ans">
								<div class="text_quetion">
									{{question.question}}
									<a href="" class="text-info">Ver Ayuda</a>
								</div>
								<div class="respuesta">
									<div class="check">
										<label class="radio-inline">
											<input  type="radio" value="si" ng-click="showTime($event)" name="{{question._id}}" id="resp"> SI
										</label>
										<label class="radio-inline">
											<input  type="radio" value="no" ng-click="showTime($event)" name="{{question._id}}" id="resp"> NO
										</label>
										<label class="radio-inline">
											<input  type="radio" value="na" ng-click="showTime($event)" name="{{question._id}}" id="resp" checked> N/A
										</label>
									</div>
									<div class="timing">					
										<div class="input-group">
											<span class="input-group-btn">
												<button class="btn btn-default" type="button"><strong>Tiempo:</strong></button>
											</span>
											<div id="content_time_{{question._id}}"></div>					
										</div>						
									</div>									
								</div>
							</div>	
						</li>
					</ul>
					<button type="submit" class="btn btn-default">Procesar</button>

				</form>
			</div>
			<div role="tabpanel" class="tab-pane" id="anexo1">
				<form id="anexo1-esp">

					<div class="form-group">
						<div class="input-group">
							<span class="input-group-btn">
								<button class="btn btn-default" type="button"><strong>Entidad:</strong></button>
							</span>
							<select name="entidad" id="entidad" class="form-control">
								<option ng-repeat="e in entidades" value="{{e._id}}">{{e.name}}</option>
							</select>
						</div>	
					</div>

					<p>¿La entidad presentó el formato ESE1: Ejecución presupuestal de ingresos, con los respectivos anexos?</p>
					<ul class="questions">
						<li ng-repeat="question in questions" class="todos">
							<span class="number">{{$index + 1}}</span>
							<div class="text_ans">
								<div class="text_quetion">
									{{question.question}}
									<a href="" class="text-info">Ver Ayuda</a>
								</div>
								<div class="respuesta">
									<div class="check">
										<label class="radio-inline">
											<input  type="radio" ng-value="si" name="group{{$index+1}}" id="si"> SI
										</label>
										<label class="radio-inline">
											<input  type="radio" ng-value="no" name="group{{$index+1}}" id="no"> NO
										</label>
										<label class="radio-inline">
											<input  type="radio" ng-value="na" name="group{{$index+1}}" id="na" checked> N/A
										</label>
									</div>
									<div class="timing">					
										<div class="input-group">
											<span class="input-group-btn">
												<button class="btn btn-default" type="button"><strong>Tiempo:</strong></button>
											</span>
											<div id="content_time_{{question._id}}"></div>					
										</div>						
									</div>									
								</div>
							</div>	
						</li>
					</ul>
					<button type="submit" class="btn btn-default">Procesar</button>

				</form>
			</div>
			<div role="tabpanel" class="tab-pane" id="anexo2">
				<form id="anexo1-esp">
					<div class="form-group">
						<label for="entidad">Entidad ESE: </label>
						<select name="entidad" id="entidad" class="form-control">
							<option ng-repeat="e in entidades" value="{{e._id}}">{{e.name}}</option>
						</select>
					</div>
					<p>¿Al formato 13: SEUD la entidad presentó los respectivos anexos?</p>
					<ul class="form_resolucion">
						<li ng-repeat="question in anexo_2" class="todos">
							<span class="number">{{$index + 1}}</span>
							<div>
								{{question.question}}
								<a href="">Ver Ayuda</a>
							</div>
							<div class="respuesta checkbox" >		
								<label class="radio-inline">
									<input  type="radio" ng-value="si" name="group{{$index+1}}" id="si"> SI
								</label>
								<label class="radio-inline">
									<input  type="radio" ng-value="no" name="group{{$index+1}}" id="no"> NO
								</label>
								<label class="radio-inline">
									<input  type="radio" ng-value="na" name="group{{$index+1}}" id="na" checked> N/A
								</label>
							</div>
						</li>
					</ul>
					<div><input type="submit" value="Procesar"></div>
				</form>
			</div>
		</div>

	</div>
