<h2 class="page-header">FORMATOS QUE APLICAN A TODOS LOS SUJETOS DE CONTROL</h2>
<form id="todos">

	<div class="form-group">
		<div class="input-group">
			<span class="input-group-btn">
				<button class="btn btn-default" type="button"><strong>Entidad:</strong></button>
			</span>
			<select name="entidad" id="entidad" class="form-control">
				<option ng-repeat="e in entidades" value="{{e._id}}">{{e.name}}</option>
			</select>
		</div>	
	</div>
	
	<p>¿La entidad llenó los fomatos que aplican a todos los sujetos de control?</p>
	<ul class="questions">
		<li ng-repeat="question in questions" class="todos">
			<span class="number">{{$index + 1}}</span>
			<div class="text_ans">
				<div class=="text_quetion">
					{{question.question}}
					<a href="">Ver Ayuda</a>
				</div>
				<div class="respuesta" >	
					<div class="check">
						<label class="radio-inline">
							<input  type="radio" value="si" name="{{question._id}}" ng-click="showTime($event)" id="resp"> SI
						</label>
						<label class="radio-inline">
							<input  type="radio" value="no" name="{{question._id}}" ng-click="showTime($event)" id="resp"> NO
						</label>
						<label class="radio-inline">
							<input  type="radio" value="na" name="{{question._id}}" ng-click="showTime($event)" id="resp"> N/A
						</label>
					</div>	
					<div class="timing">					
						<div class="input-group">
							<span class="input-group-btn">
								<button class="btn btn-default" type="button"><strong>Tiempo:</strong></button>
							</span>
							<div id="content_time_{{question._id}}"></div>					
						</div>						
					</div>
				</div>
			</div>
		</li>
	</ul>
	<div><input type="submit" value="Procesar" class="btn btn-default"></div>

</form>
