@import url("http://fonts.googleapis.com/css?family=Francois+One|Crimson+Text")

html, body
	background #AF1E1E
	font-family 'Crimson Text', arial
	padding 0
	margin 0
	
h1
	font-size 42px
	font-family 'Francois one', sans-serif

.containerr
	background #fff
	box-shadow 0 0 5px rgba(0,0,0,.2)
	padding 20px
	color #000
	margin 20px
	display block
	box-sizing border-box
	font-size 0
	.links
		display inline-block
		vertical-align top
		font-size 16px
		width 30%		
		ul
			li
				cursor pointer
				&:hover
					color #AF1E1E
	.contenido
		display inline-block
		vertical-align top
		width 70%
		padding 20px
		font-size 16px
		background #EFEFEF
		height 550px
		overflow-y scroll
		.form_resolucion			
			margin 0
			padding 0
			list-style none
			li
				padding 5px
				border 1px solid #BBBBBB				
				span.number
					font-size 20px
					text-align center
					font-weight bold
					display inline-block
					width 5%					
					vertical-align top
				div
					display inline-block					
					width 90%					
					vertical-align top
					a
						color #AF1E1E
				.respuesta								
					text-align center	
				&.todos
					vertical-align top
					width 100%	
					margin-bottom 10px
					box-shadow 0 0 5px rgba(0,0,0,.1)
					box-sizing border-box	
					background #fff
					padding 10px
					display inline-block			
		.containerPDF
			height 480px
			overflow-y scroll
			canvas
				display block
				margin 0 auto
		h1,h2,h3
			font-family 'Francois one', sans-serif

					
	